body {
  overflow-x: hidden;
  font-family: "source sans pro";
}

h2 {
  margin-top: 2rem;
}

a {
  text-decoration: none;
}

.center {
  text-align: center;
}

#canvasRow {
  position: relative;
  margin-bottom: 10px;
}

#canvas {
  position: absolute;
  transform-origin: 0 0;
}
